.testimonials {
    padding: 60px 134px 132px;
    text-align: center;

    &__title {
        font-family:"Poppins-Medium";
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #F59E00;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 50px;
    }

    &__point {
        margin: 0 auto;
    }

    @media screen and (max-width: $table-width) {
        padding: 60px 64px 90px;
    }
    @media screen and (max-width: $mobile-width) {
        padding: 50px 16px 109px;

        &__subtitle {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.02em;
            margin-bottom: 40px;
        }   
    }
}

.testimonialsList {
    display: flex;
    gap: 0px 30px;
    margin-bottom: 30px;

    &__item {
        padding: 29px 20px 30px;
        border: 1px solid #EEEEEE;
        border-radius: 8px;
        flex: 1 1 calc((100%/3) - 30px);
    }

    &__icon {
        margin: 0 auto 10px;
    }

    &__desc {
        font-size: 14px;
        line-height: 172%;
        color: #4C526A;
        margin-bottom: 25px;
    }

    &__name {
        margin-bottom: 1px;
        font-weight: 600;
        font-size: 18px;
        line-height: 172%;
    }

    &__post {
        font-size: 14px;
        line-height: 172%;
        color: #ACAFB8;
    }

    @media screen and (max-width: $table-width) {
        &__item:last-child {
            display: none;
        } 
    }

    @media screen and (max-width: $mobile-width) {
        &__item {
            padding: 29px 11px 30px;
        }  

        &__item:first-child {
            display: none;
        }
    }
}

