.myButton {
    background: #5C87DB;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    height: 40px;
    padding: 0 33px;
    cursor: pointer;
    border: none;
}