<p *ngIf="loading" class="text-white text-center text-lg">Loading....</p>
<div 
    *ngIf="resident && !loading" class="py-4 px-6 border rounded flex items-center flex-col mb-6 relative bg-purple-medium text-white"
>
    <h1 class="mb-2 text-md text-center text-2xl">
        <img  class="m-auto w-36" [src]="avatarUrl">
            {{ resident.name }}
    </h1>
    <p>Height: {{resident.height}}</p>
    <p>Mass: {{resident.mass}}</p>
    <p>Hair-color: {{resident.hair_color}}</p>
    <p>Skin-color: {{resident.skin_color}}</p>
    <p>Eye-color: {{resident.eye_color}}</p>
    <p>Birth-year: {{resident.birth_year}}</p>
    <p>Gender: {{resident.gender}}</p>                                                           
</div>